@import url('https://fonts.googleapis.com/css2?family=Anta&family=Calligraffitti&family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Micro+5&display=swap');

.about {
    background-color: aquamarine;
    color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about .textdiv {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
    color: white;
}


.about .textdiv h1 {
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 4rem;
    color: black;
}

/* .about .textdiv h2{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    color: rgb(61, 61, 61);
}
.about .textdiv h2 span{
    color: rgb(0, 255, 195);

} */
.about .textdiv p {
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: rgb(121, 121, 121);
}


.about img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


@media (max-width: 1000px) {
    .about {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding-top: 20%;
    }

    .about .textdiv {
        width: 90%;
    }

    .about img {
        margin: 20px 0px;
        width: 50%;
    }

}


@media (max-width: 500px) {
    .about {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .about .textdiv h1 {
        font-size: 2rem;
    }

    .about .textdiv p {
        font-size: 0.9rem;
    }

    .about img {
        width: 80%;
    }

}