.social {
    background-color:black;
    display: flex;
    color:black;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.social .socialcard {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: auto;
    
}


.social .socialcard .icon {
    width: 10px;
    height: 10px;
}

.social .socialcard p{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: rgb(121, 121, 121);
}