.sign {

    height: 50px;
    width: auto;
    object-fit: cover;
    color: aliceblue;
}

.navouter {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
}

.right,
.right1 {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}

.right div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right button,
.right1 button {
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-size: 18px;
    border: none;
    padding: 3px 0px;

    /* textborder */
    -webkit-text-stroke: 0.5px rgb(212, 212, 212);
}

.right button:hover {
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
}

.right .pageactive {
    /* border-bottom: 1px solid white; */
    cursor: pointer;
    font-weight: 600;
    color: white;
}

.nav_toggler {
    display: none;
    height: 44px;
    width: 44px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
}

.nav_toggler:focus {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.nav_toggler span {
    height: 2px;
    width: 20px;
    background-color: black;
    display: block;
    margin: auto;
    position: relative;
    transition: all 0.3s ease;
}

.nav_toggler span::before,
.nav_toggler span::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 0.3s ease;
}

.nav_toggler span::before {
    transform: translateY(-6px);
}

.nav_toggler span::after {
    transform: translateY(6px);
}




.navactive span::before {
    transform: rotate(45deg);
}

.navactive span {
    background-color: white;
}

.navactive span::after {
    transform: rotate(135deg);
}






@media (max-width: 500px) {
    .right {
        display: none;
    }

    .right1 {

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        top: 0px;
        right: 0px;

        width: 100%;
        background-color: rgba(0, 0, 0, 0.764);
        height: 100vh;
    }

    .right1 button {
        background-color: transparent;
        color: white;
        border: none;
    }

    .nav_toggler {
        display: flex;
    }

    .right1 .pageactive {
        background-color: yellow;
        width: 80px;
        border-radius: 10px;
        padding: 5px 10px;
    }

}