
.section1outer1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}


.smokevideo2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.maintextdiv1 {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    /* border: 1px solid red; */
}

.mainimg1 {
    /* min-width: 300px; */
    height: 80%;
    aspect-ratio: 1;
    object-fit: contain;
    z-index: 4;
    position: absolute;
    bottom: 0;
}

.maintextdiv1 p {
    font-size: 4rem;
    color: #fff;
    font-family: "Anta", sans-serif;
}

.maintextdiv1 h1 {
    font-size: 4rem;
    color: transparent;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    /* add border to text*/
    -webkit-text-stroke: 2px #fff;
    word-spacing: 2rem;
    font-family: monospace;
}




.maintextdiv1 h2 {
    align-self: flex-end;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-size: 5rem;
    position: relative;
    top: -50px;
    right: -50px;
    transform: rotate(-15deg);
}

.subtextdiv1 {
    z-index: 5;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    /* border: 1px solid red; */
    padding: 20px;
}

.subtextdiv1 .left1 .about1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
}

.subtextdiv1 .left1 .about1 p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 200;
}

.subtextdiv1 .left1 .about1 p span {
    font-weight: 400;
    font-family: 'Anta', sans-serif;
    font-size: 2rem;
}

.subtextdiv1 .right1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subtextdiv1 .right1 .stat1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.subtextdiv1 .right1 .stat1 h1 {
    font-size: 4rem;
    color: #fff;
    font-family: 'Anta', sans-serif;
}


.subtextdiv1 .right1 .stat1 p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 200;
}

@media (max-width: 1000px) {
    .maintextdiv h1 {
        font-size: 5rem;
        word-spacing: 3rem;
    }

    .maintextdiv1 p {
        font-size: 2rem;
    }

    .maintextdiv1 h2 {
        font-size: 3rem;
    }

    .subtextdiv1 {
        padding: 10px;
    }

    .subtextdiv1 .left1 .about1 {
        width: 300px;
    }

    .subtextdiv1 .right1 .stat1 h1 {
        font-size: 3rem;
    }
}

@media (max-width: 750px) {
    .mainimg1 {
        height: 70%;
    }

    .maintextdiv1 {
        top: 20%;
    }

    .maintextdiv1 h1 {
        font-size: 4rem;
        word-spacing: 1rem;
    }


    .maintextdiv1 p {
        font-size: 1.5rem;
    }

    .maintextdiv1 h2 {
        top: -30px;

        font-size: 2rem;
    }

    .subtextdiv1 .left1 .about1 p:nth-child(2) {
        font-size: 1rem;
    }

    .subtextdiv1 .left1 .about1 p:nth-child(2) span {
        font-size: 1.5rem;
    }
}


@media (max-width: 580px) {
    .mainimg1 {
        height: 60%;
    }

    .maintextdiv1 h2 {
        top: -20px;
        right: -20px;
        align-self: center;
        font-size: 2rem;
        transform: rotate(-10deg);
    }

    .subtextdiv1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
        background-color: rgba(0, 0, 0, 0.296);

    }

    .subtextdiv1 .left1 .about1 {
        text-align: center;
    }

    .subtextdiv1 .right1 {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 450px) {
    .maintextdiv1 h1 {
        font-size: 3rem;
        word-spacing: 0.5rem;
    }

    .maintextdiv1 p {
        font-size: 2rem;
    }

    .maintextdiv1 h2 {
        top: -10px;
        right: -10px;
        font-size: 1.5rem;
    }

    .subtextdiv1 .left1 .about1 p:nth-child(2) {
        font-size: 1rem;
    }

    .subtextdiv1 .right1 .stat1 h1 {
        font-size: 1rem;
    }

    .subtextdiv1 .right1 .stat1 p {
        font-size: 1rem;
    }
}